.background{
    
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(./assests/bg.jpg);
    opacity: 0.8;
    background-repeat: no-repeat;
    height: 105%;
    width: 105%;
}

.container{
     display: flex;
    flex-direction: column;
    justify-content: space-evenly;
     align-items: center;
    width: 100%;
    height: fit-content;
    gap: 70px;
    margin-top: 55px;
}
.card{
    padding: 50px 50px;
    max-width: 800px;
    max-height: 480px;
    background-color: aquamarine;
    transform: skew(-14deg);
    background-color: #ffffff73;
    backdrop-filter: blur(2px);
}
.circle{
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    transform: skew(14deg);
    background-repeat: no-repeat;

}
p{
    margin: 0px;
    padding: 0px;
    text-align: justify;
    line-height: 22px;
    transform: skew(14deg);
}
h4{
    margin-top: 10px;
    margin-bottom: 15px;
    transform: skew(14deg);
    
}
#circle1{
    background-image: url(./assests/profile1.png);
}
#circle2{
    background-image: url(./assests/profile2.png);
}
.names{
    display: inline-block;
    position: absolute;
    top: 117px;
    left: 38px;
    opacity: 0%;
    transition: 500ms ease-in-out;
}

.card:hover .names{
    color: white;
    transform: translateY(-25px);
    transition: 500ms ease-in-out;
    opacity: 100%;
}
@media (max-width: 768px){
    .background{
        height: 116%;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: skew(0deg);
        
    }
    h4 , p{
        transform: skew(0deg);
    }
    .circle{
        transform: skew(0deg);
        width: 120px;
        height: 120px;
        margin-right: 20px;
        
    }
    .names{
        top: 90px;
        left: 24px;
    }

    
}
@media (max-width:675px) {
    
    .background{
        height: 127%;
    }
}
@media (max-width:559px) {
    .card{
        padding: 23px 23px;
    }
    .background{
        height: 137%;
    }
}
@media (max-width:460px) {
    
    .background{
        height: 152%;
    }
}
@media (max-width:388px) {
    .background{
        height: 166%;
    }
}
@media (max-width:376px) {
    .circle{
        margin-right: 6px;
    }
    .heading{
        text-align: center;
    }
}
@media (max-width:358px) {
    .background{
        height: 177%;
    }
}
@media (max-width:268px) {
    .background{
        height: 180%;
    }
}
@media (max-width:230px) {
    .circle{
        display: none;
    }
}
@media (max-width:200px) {
    .background{
        /* height: 195%; */
    }
    .card{
        padding: 10px 15px;
    }
}
@media (max-width:185px) {
    .background{
        height: 195%;
    }
    .card{
        max-height: 532px;
    }
}

@media (max-width:179px) {
    .background{
        height: 185%;
    }
    .card{
        padding: 2px 3px;
    }
}
@media (max-width:155px) {
    .background{
        height: 195%;
    }
    .card{
        padding: 0px 2px;
    }
}
@media (max-width:152px) {
    .background{
        height: 195%;
    }
    .card{
        padding: 0px 2px;
        max-height: 575px;
    }
}
@media (min-width:770px) {
    .card{
        transform: skew(-14deg);
    }
    h4 , p{
        transform: skew(14deg);
    }
    .circle{
        transform: skew(14deg);

    }
}

